body {
    margin: 0;
    height: 100vh;
    width: auto;
}

#buttons {
    padding: 20px;
    gap: 30px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

button {
    width: 400px;
    height: 100px;
    border-radius: 20px;

    background-color: #fff;
    color: #1f2937;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

.bg-grey {
    background-color: #F9F8F4;
    height: inherit;
}

.margin-auto {
    margin: 0 auto;
}

.max-width-800 {
    width: 800px;
}
